@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

/* A szöveg középre igazítása a képeken */

.container {
  position: relative;
  text-align: center;
  color: rgb(209, 208, 208);
}

.centered, .centered2 {
  font-family: "Akaya Telivigala", cursive;
  position: absolute;
  top: 10%;
  font-size: 40px;
  color: #000000;
  font-weight: bold;
  left: 22%;
  transform: translate(-50%, -50%);
}


* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none;
}

img#kepek {
  vertical-align: middle;
  opacity: 0.5;
}

@media screen and (max-width: 1100px) {
  img.slideshow,
  .centered,
  .prev,
  .next {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .kep {
    display: block;
    width: 100%;
  }

  .centered2 {
    display: block;
  }
}

@media screen and (min-width: 1101px) and (max-width: 10000px) {
  .kep {
    display: none;
  }

  .centered2 {
    display: none;
  }

}

.slideshow-container {
  max-width: 45%;
  position: relative;
  margin: auto;
}

p.left-right {
  padding-top: 210px;
}

img.slideshow {
  height: 20%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 6%;
  width: 150px;
  height: 426px;
  margin-left: -150px;
  margin-right: -150px;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
