body {
  height: 800px;
}

input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  transition: 1s;
  border-radius: 10px;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  transform: scale(103%);
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 70%;
}

.regisztracio_szin {
  color: #000000;
}

.registerbtn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 53%;
  opacity: 0.9;
  transition: 1s;
}

.registerbtn:hover {
  opacity: 1;
  transform: scale(104%);
}

.jelszo2 {
  margin-left: 105px;
}

a {
  color: rgb(0, 126, 252);
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

form {
  margin-top: 50px;
}

legend {
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #a09898;
}

fieldset {
  background-color: #918585;
  border: #a09898 2px solid;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  display: block;
  width: 70%;
}