@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap%27");


html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}


/*Animáció*/

@keyframes alap {
  from {
    background-color: #fed0014b;
  }
  to {
    background-color: #fece01;
  }
}

body {
  background-color: #979494;
  margin: auto;
  height: 2000px;
}

/* Akciós sáv */
.akcio {
  height: 40px;
  animation-name: alap;
  animation-duration: 6s;
  background-color: #fece01;
}

/*Bekezdések*/

p {
  text-align: center;
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: rgba(46, 46, 46, 0.925);
  font-weight: bold;
}

/* Fejléc + logo */

.header {
  background-color: #131313cb;
}

.logo {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.kozepre_helyezes{
  text-align: center;
}
.balra_helyezes{
  text-align: left justify;
}

.sorkizart{
  text-align: justify;
}

.betutipus{
  font-family: "Bungee Shade", cursive;
}

.betutipus2{
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 0;
  height: 40px;
  color: rgba(46, 46, 46, 0.925);
  font-weight: bold;
}

/* Szín a lábléchez. */ 
.feher_szin{
  color: white;
}

/* Reszponzív */

@media screen and (max-width: 1700px) {
  
  #elso {
    margin-top: 45px;
  }

  div#adatok {
    margin-top: 25px;
  }
  #respo {
    margin-top: 45px;
  }
  #respo1 {
    margin-top: 20px;
  }
}

/* H1-es címsor */

h1 {
  letter-spacing: 3px;
  text-align: center;
  font-family: "Bungee Shade", cursive;
  font-size: 2.5em;
  margin-top: -45px;
  font-weight: 800;
  color: rgba(245, 245, 245, 0.699);
  transition: 2s;
}
/* Hover effekt */

h1:hover {
  letter-spacing: 2px; 
  color: rgb(245, 245, 245);
}

.felhasznaloo {
  top: 50%;
  left: 50%;
  right: 50%;
}

/* Dolgok jobbra lebegtetése a navigációs sávon belül */

#jobb {
  float: right;
}

/* Lábléc */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  padding-top: 15px;
  font-weight: 800;
  background-color: #464545;
  color: rgba(245, 245, 245, 0.699);
  text-align: center;
}

@media screen and (max-width: 1700px) {
  h1 {
    margin-top: -30px;
    font-size: 1.5em;
  }
  .logo {
    width: 220px;
  }
  
  .akcio {
    font-size: .8em;
  }

}

@media screen and (min-width: 1px) and (max-width: 1101px) {
  h1 {
   margin-top: -10px;
  }
}

/* gomb */

#gomb {
  display: none; 
  position: fixed; 
  bottom: 90px; 
  right: 11 px;
  z-index: 99; 
  background-color: #333; 
  color: white; 
  cursor: pointer;
  padding: 15px 10px 15px 10px; 
  border-radius: 10px;
  font-size: 18px; 
  outline: none;
  border-radius: 15px;
  border: none;
}

#gomb:hover {
  background-color: #131313cb;
}


/* responsiv gomb */

@media screen and (min-width: 1700px) {
  #gomb {
    font-size: 25px;
  }
}




@media screen and (min-width: 1px) and (max-width: 1101px) {
  #gomb {
    bottom: 80px;
  }
}