@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap%27');


/*Animáció*/

@keyframes alap {
    from {background-color: #fed0014b;}
    to {background-color: #FECE01;}
  }

body {
  background-color: #979494;
  margin: auto;
}

/* Akciós sáv */
.akcio {
  height: 40px;
  animation-name: alap;
  animation-duration: 6s;
  background-color: #FECE01;
}

/*Bekezdések*/

p {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: rgba(46, 46, 46, 0.925);
    font-weight: bold;
}


/* Fejléc + logo */

.header {
  background-color: #131313cb;
}

.logo {
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* H1-es címsor */

h1 {
  letter-spacing: 3px;
  text-align: center;
  font-family: "Bungee Shade", cursive;
  font-size: 1.7em;
  margin-top: -15px;
  font-weight: 800;
  color: rgba(245, 245, 245, 0.699);
  transition: 2s;
}

/* Hover effekt */

h1:hover {
    letter-spacing: 2px;
    transform: translate(0px,80px);
    color: rgb(245, 245, 245);
}

 /* Dolgok jobbra lebegtetése a navigációs sávon belül */
  
 #jobb {
  float: right;
}




/* Lábléc */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  font-weight: 800;
  background-color: #464545;
  color: rgba(245, 245, 245, 0.699);
  text-align: center;
}
